@{
    ViewBag.Title = "Auction";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                After long, sleepless nights, we decided: 'Yes we can!'
            </p>
            <p>
                Yes, We really can offer the following steps for you to begin with this, obviously useful, app:
            </p>
        </div>
    </section>
}
<h3>Please follow this:</h3>
<ol class="round">
    <li class="one">
        <h5>Step 1</h5>
        Register.
    </li>
    <li class="two">
        <h5>Step 2</h5>
        Create auction!
    </li>

    <li class="three">
        <h5>Step 3???</h5>
        bid on it
    </li>

    <li class="four">
        <h5>Step 4</h5>
        Profit!
    </li>
</ol>
