@model IEnumerable<TKPZ_kurs_1.Models.Auction>

@{
    ViewBag.Title = "Auctions";
}

@section Featured{
    <section class="featured">
        <div class="content-wrapper">Some cool feature explained here!</div>
    </section>
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    @Html.Partial("_AuctionTile", item)
}

